<!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
</head>
<body>
    <input type="text" id="product-id" placeholder="Product ID">
    <input type="text" id="product-name" placeholder="Product Name">
    <input type="text" id="product-price" placeholder="Product Price">

    <button id="create-product">Create Product</button>
    <button id="update-product">Update Product</button>
    <button id="delete-product">Delete Product</button>

    <!-- jQuery Kütüphanesi -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- AJAX İsteği Yapılan Dosya -->
    <script src="~/js/site.js"></script>
</body>
</html>
